<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="css/peliculas.css" rel="stylesheet" >

        <title>Bienvenida</title>
    </head>
    <body>   
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="" width="30" height="24" class="d-inline-block align-top">
                    Peliculas Studio Ghibli
                </a>

                <form th:action="@{/buscar}" class="d-flex">
                    <input autofocus="autofocus" name ="q" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>
        </nav>


        <div class="container mt-4 pl-destacados" >
            <div class="row">
                <div class="col col-md-12 text-right mb-4">
                    <a th:href="@{/pelicula/crear}" class="btn btn-outline-success" >Crear pelicula</a>
                </div>                
            </div>
            
            <div class="row">
                <div th:each="p:${listado}" class="col-md-3 mb-4">
                    <div class="card" style="width: 20rem;">
                        <img th:src="${p.imagenUrl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 th:text="${p.nombre}" class="card-title">El viaje de Chihiro</h4>
                            <h5 th:text="${p.ano}" class="card-title">El viaje de Chihiro</h5>
                            <a th:href="@{/director(directorId=${p.director.id})}" th:text="${p.director.nombre}" class="badge rounded-pill bg-warning text-dark">Warning</a>
                            <p th:text="${p.descripcion}" class="card-text">Chihiro es una niña de diez años que viaja en coche con sus padres. Después de atravesar un túnel, llegan a un mundo fantástico, en el que no hay lugar para los seres humanos, sólo para los dioses de primera y segunda clase. Cuando descubre que sus padres han sido convertidos en cerdos, Chihiro se siente muy sola y asustada</p>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto  mb-4 ">
                            <a href="#" class="btn btn-outline-info">Detalles</a>
                        </div>
                    </div>
                </div>             

            </div>   
        </div>



        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    </body>
</html>       